    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SP Medical Group</title>
        <link rel="stylesheet" href="">
        <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins:wght@700&family=Roboto:wght@100&display=swap"
            rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Copse&family=Corinthia&family=DM+Sans:opsz@9..40&family=Flamenco:wght@300;400&family=Noto+Sans&family=PT+Sans&family=Roboto:wght@300&display=swap"
            rel="stylesheet">
    </head>

    <body style=" background-color: #ddfdfd">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!--Logo SP Medical Group-->
                    <img src="Imagens/logospmedicalgroupletras.png" class="img-fluid rounded" alt="" id="logo">
                </div>
                <div class="col-md-6">
                    <!--Botão Login-->
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                            id="botãologin">Login</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Colaborador</a></li>
                            <li><a class="dropdown-item" href="#">Administrador</a></li>
                            <li><a class="dropdown-item" href="#">Paciente</a></li>
                        </ul>
                    </div>
                    <!--Imagens Redes Sociais-->
                    <img src="Imagens/facebook.png" class="img-fluid rounded" alt="" id="facebook">
                    <img src="Imagens/instagram.png" class="img-fluid rounded" alt="" id="instagram">
                    <img src="Imagens/twitter.png" class="img-fluid rounded" alt="" id="twitter">
                    <!--Barra Pesquisa-->
                    <nav class="navbar navbar-expand-sm">
                        <div class="container-fluid" id="barrapesquisa" style="width: 500px;">
                            <form class="d-flex">
                                <input class="form-control me-2" type="text" placeholder="Pesquisar...">
                                <button class="btn" type="button"><img src="Imagens/lupa.png"
                                        style="height: 25px;"></button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>

            <br>
            <div class="row navbarzinha">
                <nav class="navbar navbar-expand-sm navbarzinha">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item menu"><a class="nav-link" href="#">Exames</a></li>
                                <li class="nav-item menu"><a class="nav-link" href="#">Vacinas</a></li>
                                <li class="nav-item menu"><a class="nav-link" href="#">Doação de Sangue</a></li>
                                <li class="nav-item menu"><a class="nav-link" href="#">Consultas</a></li>
                                <li class="nav-item menu"><a class="nav-link" href="cadastro1.html">Cadastro</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Imagem Principal-->
                    <img src="Imagens/imagemprincipalcomp.png" class="img-fluid rounded" alt="" id="imagemprincipal">
                </div>
            </div>
        </div>

        <div class="container-fluid fundoverde">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="Imagens/imagemhome1.png" class="img-fluid rounded" alt="" id="imagem1">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="Imagens/imagemhome2.png" class="img-fluid rounded" alt="" id="imagem2">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" id="escrita1">
                        <h2>Quem somos?</h2>
                        <p>Somos uma marca pequena, porém de alto renome no território nacional, que valoriza tradição e
                            confiança. Por isso, escolhemos com muito cuidado os profissionais que cuidarão de você! <br>
                            Nossa equipe conta com 110 médicos extremamente qualificados, 10 mil clientes cadastrados,
                            focando sempre na satisfação de nossos usuários. </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" id="escrita2">
                        <h2>Nossa missão...</h2>
                        <p>Prezamos oferecer uma boa vida para as famílias, com ótimas opções de planos de saúde e acesso
                            aos exames básicos, sempre com custos acessíveis para todos os clientes, pensando na melhor
                            qualidade e com os profissionais mais qualificados para cada área.</p>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>