body{
    overflow-y: hidden ;
}
#marlon{
    background-color: #DEF9F9;
}
#textinho{
    color:#61B9B9;
}
#textao{
    color: #7fffd4;
}
#img{
    margin-left: 610px;
    display: flex;
    margin-top: -860px;
    height: 100px;
    width: 200px;
}
#boxgrande{
    width: 700px;
    left: 105px;
    right: 400px;
    height: 300px;
    background-color: #ffff;
    border-width:80px;
    padding:160px;
    margin: 250px;
    text-align: center;
    margin-right: 400px;
    margin-top: 70px;
    border-radius: 20px;
}
#boxpequena{
    width: 700px;
    left: 100px;
    right: 400px;
    height: 180px;
    background-color: #81d2d2;
    border-width:80px;
    padding:160px;
    margin: 250px;
    text-align: center;
    margin-right: 400px;
    margin-top: 10px;   
    border-radius: 0px 0px 20px 20px; 
}
#email{
    display: flex;
    margin-left: 350px;
    margin-top: -650px;
    position: absolute;

}
.texto{
    border-radius: 15px;
    width: 350px;
    height: 40px;
}

#texto2{
    margin-left: 350px;
    margin-top: -680px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#date{
    display:flex;
    margin-left: 350px;
    margin-top:250px;
    position: absolute;
}
.texto1{
    border-radius: 15px;
    width: 350px;
    height: 40px;
}

#texto3{
    margin-left: 350px;
    margin-top: 235px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#nome{
    display:flex;
    margin-left: 350px;
    margin-top: -140px;
    position: absolute;
}
.nome1{
    border-radius: 15px;
    width: 350px;
    height: 40px;
}

#texto4{
    margin-left: 350px;
    margin-top: -170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#telefone{
    display:flex;
    margin-left: 800px;
    margin-top: -147px;
    position: absolute;
}
.telefone1{
    border-radius: 15px;
    width: 355px;
    height: 40px;
}
#texto5{
    margin-left: 800px;
    margin-top: -175px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#texto6{
    margin-left: 800px;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#masculino{
    display:flex;
    margin-left: -2px;
    margin-top: -10px;
    position: absolute;
}
.masculino1{
    border-radius: 16px;
    margin-left: 804px;
    margin-top: 5px;
}
#texto7{
    margin-left: 825px;
    margin-top: -9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#feminino{
    display:flex;
    margin-left: 970px;
    margin-top: -40px;
    position: absolute;
}
.feminino1{
    border-radius: 10px;
   
}
#texto8{
    margin-left: 996px;
    margin-top: -40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#outro{
    display:flex;
    margin-left: 800px;
    margin-top: 25px;
    position: absolute;
}
.outro1{
    border-radius: 10px;
    width: 92px;
    height: 18px;
}
#texto9{
    margin-left: 800px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#nao{
    display:flex;
    margin-left: 932px;
    margin-top: -10px;
    position: absolute;
}
.nao1{
    border-radius: 10px;
    width: 90px;
    height: 14px;
}
#texto10{
    margin-left: -33px;
    margin-top: -18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#senha{
    display:flex;
    margin-left: -133px;
    margin-top: 92px;
    position: absolute;
}
.senha1{
    border-radius: 15px;
    width: 355px;
    height: 38px;

}
#texto11{
    margin-left: -356px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#boxmedia{
    background-color: #3D9898;
    border-width:50px;
    padding:20px;
    margin: -185px;
    text-align: center;
    margin-right: 30px;
    margin-top: 165px; 
    border-radius: 15px;
    width: 130px;
    height: 4px;
       
}
#texto12{
    margin-left: -160px;
    margin-top: 175px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffff;
}
#texto12a{
    color: white;
    text-decoration: none;
}

#ajuda{
    margin-left: 270px;
    margin-top: -590px;

}
#seta{
    margin-left: -600px;
    margin-top: -35px;
}
