/*Quadrado principal*/
#quadrado{
    width: 980px;
    border-radius: 15px;
}

#quadradoprincipal{
    background-color: #78d9d9;
    height: 550px;
    width: 980px;
    justify-content: center;
    display: flex;
    border-radius: 15px;
}

/*Quadrado cabeçalho da logo*/
#quadradocabeçalho{
    background-color: #ffffff;
    height: 130px;
    width: 980px;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    margin-top: 60px;
}

/*Logo SP Medical Group do login*/
.logo img{
    height: 100px;
}

/*Quadrado do botão paciente*/
#quadradopaciente{
    background-color: #ddfdfd;
    height: 70px;
    width: 300px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 40px;
}

/*Letra do botão paciente*/
#letrasbotãopaciente{
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    color: #000000;
}

/*Quadrado do botão addministrador*/
#quadradoadministrador{
    background-color: #ddfdfd;
    height: 70px;
    width: 300px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 40px;
}

/*Letra do botão administrador*/
#letrasbotãoadministrador{
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    color: #000000;
}

/*Quadrado do botão colaborador*/
#quadradocolaborador{
    background-color: #ddfdfd;
    height: 70px;
    width: 300px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 40px;
    margin-block-end: 40px;
}

/*Letra do botão colaborador*/
#letrasbotãocolaborador{
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: center;
    display: flex;
    color: #000000;
}

/*Imagem com o link para a página de ajuda*/
.imagemajuda img{
    height: 30px;
}

/*Letras do link de ajuda*/
#letrasajuda{
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #a9a9a9;
}

/*Remover o sublinhado das palavras com links*/
.remove_sublinhado{
    text-decoration: none;
}