<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Medical Group</title>
    <link rel="stylesheet" href="cadastro1.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">
</head>
<body style="overflow-x: hidden; overflow-y: hidden; background-color: #ddfdfd; margin-top: 0%; margin-left: 0%;">

    <!--Quadrado principal e cabeçalho-->
    <div id="quadradoprincipal"></div>
    <div id="quadradocabeçalho"></div>

    <!--Logo SP Medical Group da página de Login-->
    <div class="logo"><img src="Imagens/logospmedicalgroupletras.png" alt=""></div>

    <!--Botões (só o  paciente é funcional, por enquanto)-->
    <a href="cadastro2.html">
        <div id="quadradopaciente"> <div id="letrasbotãopaciente"> Paciente </div></div>
    </a>
    <a href="">
        <div id="quadradoadministrador"> <div id="letrasbotãoadministrador"> Administrador </div></div>
    </a>
    <a href="">
        <div id="quadradocolaborador"> <div id="letrasbotãocolaborador"> Colaborador </div></div>
    </a>
 
    <!--Imagem do lado do link para página de ajuda-->
    <div class="imagemajuda"><img src="Imagens/imgajuda.png" alt=""></div>

    <!--Palavra ajuda não linkada para a página-->    
    <div id="letrasajuda" style="margin-left: 980px; margin-top: 110px;"><a href="" class="remove_sublinhado" rel="next" style="color: #939393;"> Ajuda </a></div>

</body>
</html>