<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Medical Group</title>
    <link rel="stylesheet" href="cadastro2.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">

</head>
<body style="background-color:#DEF9F9;">
    <div id="boxgrande"></div>
    <div id="img">
        <a href="teste.html" rel="next" target="_self" >
            <img src="Imagens/SP Medical Group.png" alt="SP Medical Group" style="width:300px">
        </a>
       
       
    </div>

    <div id="boxpequena"></div>
    
    <div id="email"><input type="email" class="texto"></div>

    <div id="texto2"
        <p>E-mail ou CPF</p>
    </div>

    <div id="date"><input type="date" class="texto1"></div>

    <div id="texto3">
        <p>Nascimento (dia/mês/ano)</p>
    </div>

    <div id="nome"><input type="email" class="nome1"></div>

    <div id="texto4">
        <p>Nome Completo</p>
    </div>

    <div id="telefone"><input type="email" class="telefone1"></div>

    <div id="texto5">
        <p>Celular</p>
    </div>

    <div id="texto6">
        <p>Sexo</p>
    </div>
    <div id="masculino"><input type="checkbox" class="masculino1"></div>

    <div id="texto7">
        <p>Masculino</p>
    </div>

    <div id="feminino"><input type="checkbox" class="feminino1"></div>

    <div id="texto8">
        <p>Feminino</p>
    </div>

    <div id="outro"><input type="email" class="outro1"></div>

    <div id="texto9">
        <p>Outros</p>
    </div>

    <div id="nao"><input type="checkbox" class="nao1"></body>

    <div id="texto10">
        <p>Prefiro não informar</p>
    </div>

    <div id="senha"><input type="email" class="senha1"></div>

    <div id="texto11">
        <p>Senha</p>
    </div>
    <body style="background-color:#3D9898;">
        <div id="boxmedia"></div><div id="caixas">

    <div id="texto12">
        <a href="homepage.html" rel="next" target="_self" id="texto12a">
        <p>Criar Conta</p>
    </a>
    </div>

    <div id="ajuda">
        <a href="" rel="next" target="_self">
            <img src="Imagens/ajuda.png" style="width:100px">
        </a>
    </div>
</html>