<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar agendamento</title>
    <link rel="stylesheet" href="consultas3.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">
</head>
<body style="background-color:#DEF9F9;">
    <div id="boxgrande"></div>
    <div id="img">
        <a href="homepage.html" rel="next" target="_self" >
            <img src="Imagens/SP Medical Group.png" alt="SP Medical Group" style="width:300px">
        </a>
    </div>
    
    <div id="boxpequena"></div>
    
    <div id="boxbranca"></div>

    <div id="email"><input type="email" class="texto"></div>

    <div id="texto2">
        <p>Nome Completo</p>
    </div>

    <div id="nome"><input type="email" class="nome1"></div>

    <div id="texto4">
        <p>E-mail</p>
    </div>
    
    <div id="date"><input type="email" class="texto1"></div>

    <div id="texto3">
        <p>Telefone ou celular</p>
    </div>
    <div id="ajuda">
        <a href="" rel="next" target="_self">
            <img src="Imagens/ajuda.png" style="width:100px">
        </a>
    </div>


    <body style="background-color:#3D9898;">
        <div id="caixas">

    <div id="texto12">
        <a href="teste.html" rel="next" target="_self" id="texto12">
        <p></p>
    </a>

    <div id="caixa-escolha" style="margin-top: -460px; margin-left: 10px;">
        <label for="opcoes" id="escolha"></label>
        <select id="opcoes">
            <option value="">Selecione o tipo de consulta</option>
            <option value="teste.html">Adulto geral</option>
            <option value="teste.html">Pediátrico</option>
            <option value="teste.html">Psiquiátrico</option>
            <option value="teste.html">Odontológico</option>
        </select>
    </div>

    <div id="texto6" class="textoo">
        <p>Selecione o dia</p>
    </div>

    <div id="date1"><input type="date" class="texto4"></div>


    <div id="horário1"><input type="email" class="texto5"></div>

    <div id="abc" class="abcd">
        <p>Horário</p>
    </div>
    
    <div id="boxmedia"></div>
    
    <div>
        <a href="homepage.html" id="agendar" rel="next" target="_self">
            <p>Agendar</p>
        </a>
    </div>