<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Medical Group</title>
    <link rel="stylesheet" href="consulta1.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup-cadast1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden; overflow-y: hidden; background-color: #ddfdfd; margin-top: 0%; margin-left: 0%;">
    
    <!--Quadrado do cabeçalho e cabeçalho inferior da consultas 2-->
    <div id="cabeçalho"></div>
    <div id="cabeçalhoinferior"></div>

    <!--Logo SP Medical Group (sem letras) da consultas 1-->
    <div class="logo"><img src="Imagens/logospmedicalgroup- consult2.png" alt=""></div>

    <!--Quadrado do Rodapé-->
    <div id="rodapé"></div>

    <!--Quadrados Esquerda-->
    <div id="quadradoesquerda"></div>

    <!--Sobre Nós e Consultas não linkada para a página-->
    <div id="letrascabeçalho" style="margin-left: 714px; margin-top: 30px;"> Sobre nós </div>
    <div id="letrascabeçalho" style="margin-left: 1020px; margin-top: 30px;"> Consultas </a></div>
  
    <!--Palavras Cadastro e Home linkadas para as páginas-->    
    <div id="letrascabeçalho" style="margin-left: 1330px; margin-top: 30px; "> <a href="cadastro1.html" class="remove_sublinhado" rel="next" style="color: #939393;"> Cadastro </a> </div>
    <div id="letrascabeçalho" style="margin-left: 410px; margin-top: 30px;"><a href="homepage.html" class="remove_sublinhado" rel="next" style="color: #939393"> Home </a></div>

    <!--Botão Visualizar Consultas-->
    <a href="consultas2.html">
        <div class="quadradovconsultas"> <div id="letrasbotões" style="margin-left: 80px; margin-top: 10px;"> Visualizar Consultas </div></div>
    </a>

    <!--Botão Agendar Consultas-->
    <a href="consultas3.html">
        <div class="quadradoaconsultas"> <div id="letrasbotões" style="margin-left: 80px; margin-top: 10px;"> Agendar Consultas </div></div>
    </a> 

    <!--Linhas-->
    <div id="linhashorizontais" style="margin-top: 84px;"></div>
    <div id="linhashorizontais" style="margin-top: 286px;"></div>
    <div id="linhashorizontais" style="margin-top: 410px;"></div>
    <div id="linhashorizontais" style="margin-top: 530px;"></div>
    <div id="linhasverticaistabela" style="margin-left: 280px;"></div>
    <div id="linhasverticaistabela" style="margin-left: 980px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 280px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 595px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 928px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 1207px;"></div>

    <!--Imagem da casinha e nome da página do lado-->
    <div class="imagemcasinha"><img src="Imagens/casaretorno.png" alt=""></div>
    <div id="letrascabeçalho" style="margin-left: 60px; margin-top: 96px; font-size: 20px;"> >     Consultas </div>

    <!--Letras dos títulos das colunas-->
    <div id="letrascabeçalhoinferior" style="margin-left: 20px; margin-top: 132px;"> Consultas </div>
    <div id="letrascabeçalhoinferior" style="margin-left: 300px; margin-top: 132px;"> Médicos </div>
    <div id="letrascabeçalhoinferior" style="margin-left: 1000px; margin-top: 132px;"> Atendimentos </div>

    <!--Logo SP Medical Group (sem letras) da consultas 1-->
    <div class="imagem1"><img src="Imagens/imagem1.png" alt=""></div>
    <div class="imagem2"><img src="Imagens/imagem2.png" alt=""></div>
    <div class="imagem3"><img src="Imagens/imagem3.png" alt=""></div>
    <div class="imagem4"><img src="Imagens/imagem4.png" alt=""></div>
    
    <!--Letras dos textos da coluna 1-->
    <div id="letrastextos" style="margin-left: 330px; margin-top: 195px;">
        Dr. Manuel Claudio<br>
        Dr. Josemar Silveira </div>
    <div id="letrastextos" style="margin-left: 330px; margin-top: 320px;">
        Dr. Ramon Sampaio da Silva<br>
        Dra. Sawana Algueiro Ruzi </div>
    <div id="letrastextos" style="margin-left: 330px; margin-top: 440px;"> 
        Dra. Mikaella Alencar<br>
        Dra. Isis Ravenna </div>
    <div id="letrastextos" style="margin-left: 330px; margin-top: 560px;"> 
        Dra. Vanessa Falcão<br>
        Dr. Francisco Cavalcante </div>

    <!--Letras dos textos da coluna 2-->
    <div id="letrastextos" style="margin-left: 1060px; margin-top: 180px;">
        Segunda a Sexta<br>
        Das 7h as 22h<br>
        Contato: +55 (11) 2151-3674 </div>
    <div id="letrastextos" style="margin-left: 1060px; margin-top: 305px;">
        Segunda a Sexta<br>
        Das 7h as 22h<br>
        Contato: +55 (11) 2151-9393 </div>
    <div id="letrastextos" style="margin-left: 1060px; margin-top: 425px;">
        Segunda a Sexta<br>
        Das 7h as 18h<br>
        Contato: +55 (11) 2151-8687 </div>
    <div id="letrastextos" style="margin-left: 1060px; margin-top: 545px;">
        Segunda a Sexta<br>
        Das 7h as 18h<br>
        Contato: +55 (11) 2151-4720 </div>

    <!--Letras da da coluna da esquerda-->
    <div id="letrascolunaesquerda" style="margin-left: 60px; margin-top: 195px; font-size: 25px;"> Atendimento<br> Adulto Geral </div>
    <div id="letrascolunaesquerda" style="margin-left: 60px; margin-top: 320px; font-size: 25px;"> Atendimento<br> Pediátrico </div>
    <div id="letrascolunaesquerda" style="margin-left: 60px; margin-top: 445px; font-size: 25px;"> Atendimento<br> Psiquiátrico </div>
    <div id="letrascolunaesquerda" style="margin-left: 60px; margin-top: 565px; font-size: 25px;"> Atendimento<br> Odontologico </div>
</body>
</html>