<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Medical Group</title>
    <link rel="stylesheet" href="consultas2.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden; overflow-y: hidden; background-color: #ddfdfd; margin-top: 0%; margin-left: 0%;">
    
    <!--Quadrado do cabeçalho e cabeçalo inferior da consultas 2-->
    <div id="cabeçalho"></div>
    <div id="cabeçalhoinferior"></div>

    <!--Logo SP Medical Group (sem letras) da consultas 2-->
    <div class="logo"><img src="Imagens/logospmedicalgroup- consult2.png" alt=""></div>

    <!--Quadrado do Rodapé-->
    <div id="rodapé"></div>

    <!--Quadrados direita (próximas consutas) e esquerda (Últimas consultas)-->
    <div id="quadradouconsultas"></div>
    <div id="quadradopconsultas"></div>

    <!--Sobre Nós não linkada para a página-->
    <div id="letrascabeçalho" style="margin-left: 714px; margin-top: 30px;"> Sobre nós </div>
  
    <!--Palavras Cadastro, Consultas e Home linkadas para as páginas-->    
    <div id="letrascabeçalho" style="margin-left: 1020px; margin-top: 30px;"><a href="consulta1.html" class="remove_sublinhado" rel="next" style="color: #939393;"> Consultas </a></div>
    <div id="letrascabeçalho" style="margin-left: 1330px; margin-top: 30px; "> <a href="cadastro1.html" class="remove_sublinhado" rel="next" style="color: #939393;"> Cadastro </a> </div>
    <div id="letrascabeçalho" style="margin-left: 410px; margin-top: 30px;"><a href="homepage.html" class="remove_sublinhado" rel="next" style="color: #939393"> Home </a></div>

    <!--Quadrado botão retornar-->
    <div class="quadradoretornar"></div>

    <!--Botão Retornar aos Horários-->
    <a href="consulta1.html">
        <div id="quadradoretornar"> <div id="letrasretornar"> Retornar aos Horários </div></div>
    </a>

    <!--Imagem da casinha e nome da página do lado-->
    <div class="imagemcasinha"><img src="Imagens/casaretorno-consult2.png" alt=""></div>
    <div id="letrascabeçalho" style="margin-left: 60px; margin-top: 96px; font-size: 20px;"> >     Consultas </div>

    <!--Letras dos textos das colunas "Últimas Consultas" e "Próximas Consultas"-->
    <div id="letrastextosconsultas" style="margin-left: 60px; margin-top: 190px; font-size: 20px;"> Atendimento Odontológico </div>
    <div id="letrastextosconsultas" style="margin-left: 60px; margin-top: 290px; font-size: 20px;"> Atendimento Psiquiátrico </div>
    <div id="letrastextosconsultas" style="margin-left: 995px; margin-top: 390px; font-size: 20px;"> Atendimento Odontológico </div>
    <div id="letrastextosconsultas" style="margin-left: 995px; margin-top: 190px; font-size: 20px;"> Atendimento Psiquiátrico </div>
    <div id="letrastextosconsultas" style="margin-left: 995px; margin-top: 290px; font-size: 20px;"> Atendimento Adulto Geral </div>

    <!--Letras dos textos das colunas-->
    <div id="letrastextos" style="margin-left: 345px; margin-top: 180px;"> Dra. Vanessa Falcão          15:00 - Quinta-Feira          20/05/2023 </div>
    <div id="letrastextos" style="margin-left: 345px; margin-top: 280px;"> Dra. Mikaella Alencar          19:00 - Segunda-Feira          03/03/2023 </div>
    <div id="letrastextos" style="margin-left: 1275px; margin-top: 180px;"> Dra. Vanessa Falcão          15:00 - Quinta-Feira          27/05/2023 </div>
    <div id="letrastextos" style="margin-left: 1275px; margin-top: 280px;"> Dra. Mikaella Alencar          19:00 - Segunda-Feira          12/03/2023 </div>
    <div id="letrastextos" style="margin-left: 1275px; margin-top: 380px;"> Dr. Manuel Claudio          8:00 - Terça-Feira          09/04/2023 </div>
    <div id="letrastextos" style="margin-left: 660px; margin-top: 194px;"> Alergia à antibióticos e anti-inflamatórios </div>
    <div id="letrastextos" style="margin-left: 660px; margin-top: 287px;"> Retorno da consulta em 12/03/2023 </div>

    <!--Letras dos títulos das colunas-->
    <div id="letrasuepconsultas" style="margin-left: 20px; margin-top: 132px;"> ÚLTIMAS CONSULTAS </div>
    <div id="letrasuepconsultas" style="margin-left: 935px; margin-top: 132px;"> PRÓXIMAS CONSULTAS </div>

    <!--Linhas-->
    <div id="linhashorizontais" style="margin-top: 84px;"></div>
    <div id="linhashorizontais" style="margin-top: 263px;"></div>
    <div id="linhashorizontais" style="margin-top: 363px;"></div>
    <div id="linhashorizontais" style="margin-top: 463px;"></div>
    <div id="linhashorizontais" style="margin-top: 564px;"></div>
    <div id="linhasverticaistabela" style="margin-left: 280px;"></div>
    <div id="linhasverticaistabela" style="margin-left: 595px;"></div>
    <div id="linhasverticaistabela" style="margin-left: 928px;"></div>
    <div id="linhasverticaistabela" style="margin-left: 1207px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 280px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 595px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 928px;"></div>
    <div id="linhasverticaiscabeçalho" style="margin-left: 1207px;"></div>

</body>
</html>