<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Medical Group</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden; overflow-y: hidden; background-color: #ddfdfd; margin-top: 0%; margin-left: 0%;">

    <!--Logo SP Medical Group da homepage-->
    <div class="logo"><img src="Imagens/logospmedicalgroupletras-home.png" alt=""></div>

    <!--Quadrados do cabeçalho e do rodapé da homepage-->
    <div id="cabeçalho"></div>
    <div id="rodape"></div>

    <!--Palavras Home e Sobre Nós não linkadas para as páginas-->
    <div id="letrascabeçalhohome" style="margin-left: 170px; margin-top: -35px;"> Home </div>
    <div id="letrascabeçalhohome" style="margin-left: 480px; margin-top: -35px;"> Sobre nós </div>

    <!--Palavras Cadastro e Consultas linkadas para as páginas-->    
    <div id="letrascabeçalhohome" style="margin-left: 890px; margin-top: -35px;"><a href="consulta1.html" class="remove_sublinhado" rel="next" style="color: #939393;"> Consultas </a></div>
    <div id="letrascabeçalhohome" style="margin-left: 1250px; margin-top: -35px; "> <a href="cadastro1.html" class="remove_sublinhado" rel="next" style="color: #939393;"> Cadastro </a> </div>

    <!--Palavras no rodapé da Homepage-->
    <div id="letrasrodapehome" style="margin-left: 105px; margin-top: 520px;"> Resultados de exames </div>
    <div id="letrasrodapehome" style="margin-left: 460px; margin-top: 520px;"> Agenda de exames </div>
    <div id="letrasrodapehome" style="margin-left: 900px; margin-top: 520px;"> Vacinação </div>
    <div id="letrasrodapehome" style="margin-left: 1230px; margin-top: 520px;"> Doação de sangue </div>

    <!--Quadrados barra de pesquisa e botão login da Homepage-->
    <a href="login.html">
        <div id="quadradologin"> <div id="letralogin"> Login </div></div>
    </a>
    <div id="quadradopesquisa"> <div id="letrapesquisa"> Pesquisar... </div></div>

    <!--Imagens do rodapé da Homepage-->
    <div class="rodape1"><img src="Imagens/rodape1.png" alt=""></div>
    <div class="rodape2"><img src="Imagens/rodape2.png" alt=""></div>
    <div class="rodape3"><img src="Imagens/rodape3.png" alt=""></div>
    <div class="rodape4"><img src="Imagens/rodape4.png" alt=""></div>

    <!--Imagem principal da Homepage-->
    <img src="Imagens/imagemprincipal.png" alt="" style="width: 815px; margin-left: 470px;">
    <div class="quadradoesquerda"></div>
    <div class="quadradodireita"></div>

    <!--Slogan da Homepage-->
    <div class="letrasslogan" style="margin-left: 250px; margin-top: -340px;"> Cuidamos da </div>
    <div class="letrasslogan" style="margin-left: 250px; margin-top: -245px;"> maior riqueza do </div>
    <div class="letrasslogan" style="margin-left: 250px; margin-top: -150px;"> mundo, a saúde! </div>

    <!--Imagens das redes sociais, lupa de pesquisa e ícone de login na Homepage-->
    <div class="iconefacebook"><img src="Imagens/facebook.png" alt="" style="width: 55px;"></div>
    <div class="iconeinstagram"><img src="Imagens/instagram.png" alt="" style="width: 55px;"></div>
    <div class="iconetwitter"><img src="Imagens/twitter.png" alt="" style="width: 60px;"></div>
    <div class="iconelupa"><img src="Imagens/lupa.png" alt="" style="width: 25px;"></div>
    <div class="iconelogin"><img src="Imagens/iconelogin.png" alt="" style="width: 35px;"></div>

</body>
</html>