<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Medical Group</title>
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" href="Imagens/logospmedicalgroup.png" type="image/x-icon">
</head>
<body style="overflow-x: hidden; overflow-y: hidden; background-color: #ddfdfd; margin-top: 0%; margin-left: 0%;">
    
    <!--Quadrado principal e cabeçalho-->
    <div id="quadradoprincipal"></div>
    <div id="quadradocabeçalho"></div>

    <!--Logo SP Medical Group da página de Login-->
    <div class="logo"><img src="Imagens/logospmedicalgroupletras-login.png" alt=""></div>


    <!--Caixa para inserir e-mail e senha-->
    <div id="caixaemail"><input id="email" type="email"></div>
    <div id="caixasenha"><input id="senha" type="password"></div>
    <div id="palavrasemailsenha" style="margin-top: 273px; margin-left: 695px;"> E-mail ou CPF </div>
    <div id="palavrasemailsenha" style="margin-top: 365px; margin-left: 730px;"> Senha </div>

    <!--Botão Fazer Login-->
    <a href="homepage.html">
        <div id="quadradologin"> <div id="letralogin"> FAZER LOGIN </div></div>
    </a>

    <!--Frases linkadas para as páginas-->    
    <div id="letraslinks" style="margin-left: 565px; margin-top: 550px;"><a href="cadastro1.html" class="remove_sublinhado" rel="next" style="color: #939393;"> Ainda não é cadastrado? <br> Clique aqui para criar uma conta! </a></div>
    <div id="letraslinks" style="margin-left: 565px; margin-top: 440px;"><a href="" class="remove_sublinhado" rel="next" style="color: #939393;"> Esqueceu a senha? </a></div>

    <!--Imagem do lado do link para página de ajuda-->
    <div class="imagemajuda"><img src="Imagens/imgajuda-login.png" alt=""></div>

    <!--Palavra ajuda não linkada para a página-->    
    <div id="letrasajuda" style="margin-left: 980px; margin-top: 110px;"><a href="" class="remove_sublinhado" rel="next" style="color: #939393;"> Ajuda </a></div>
    
</body>
</html>